*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
}

.navbar{
    margin-top: 10px;
}

.circle{
    background-color: #04AA6D;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    margin-left: 25px;
}

.anchers{
    /* border: 1px solid black; */
    margin-top: 10px;
}

.navbar li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
}

.buttons{
    margin-left: 280px;
    margin-top: 10px;
}

.buttons button{
    margin-left: 15px;
}

.btn1{
    background-color: #282a35;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 27px;
    color: white;
    width: 68px;
    height: 50px;
    font-weight: 550;
    border: 2px solid #282a35;
}

.btn1:hover{
    cursor: pointer;
}

.btn2{
    background-color: #ffc0c7;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 27px;
    color: black;
    width: 150px;
    height: 50px;
    font-weight: 550;
    border: 2px solid #ffc0c7;
}

.btn2:hover{
    cursor: pointer;
}

.btn3{
    background-color: #fff080;
    /* background-color: #fff483; */
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 27px;
    color: black;
    width: 150px;
    height: 50px;
    font-weight: 550;
    border: 2px solid #fff080;
}

.btn3:hover{
    cursor: pointer;
}

.rectangle{
    background-color: #d9eee1; 
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 27px;
    color: hsl(0, 0%, 0%);
    width: 180px;
    height: 50px;
    font-weight: 550;
    /* border: 2px solid #d9eee1; */
    margin-left: 15px;
    margin-top: 10px;
}

.btn4{
    background-color: #059862;
    /* background-color: #fff483; */
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 27px;
    color: white;
    width: 100px;
    height: 50px;
    font-weight: 550;
    border: 2px solid #059862;
}

.btn4:hover{
    cursor: pointer;
}

.btn5{
    background-color: #d9eee1; 
    /* background-color: #fff483; */
    border-radius: 25px;
    font-size: 18px;
    /* text-align: center; */
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 27px;
    color: black;
    width: 80px;
    height: 50px;
    font-weight: 550;
    border: 2px solid #d9eee1; ;
}

.btn5:hover{
    cursor: pointer;
}

.curve{
    background-image: url(curve.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
}

.curve img{
    width: 100%;
    height: 50px;
}

.mainScreen{
    background-color: #282835;
    margin-top: 20px;
    height: 620px;
    width: 100%;
    flex-direction: column;
}

.mainScreen h1{
    margin-top: 120px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
}

.mainScreen p{
    color: rgb(255, 206, 214);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin: 20px;
    text-align: justify;
}

.mainScreen h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="search"]{
    background-color: white;
    width: 480px;
    height: 47px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="search"]::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 30px;
    font-weight: 600;
}

.container button{
    background-color: #059862;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 100px;
    height: 48px;
    margin-right: 30px;
    border: 5px solid #059862;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.container button:hover{
    cursor: pointer;
}

.mainScreen a{
    color: white;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: underline;
}

.Screen2{
    height: 600px;
    width: 100%;
    background-color: #d9eee1;
    padding-bottom: 20px;
    border: 10px solid #d9eee1;
}

.side1{
    margin-left: 180px;
}

.side1 h1{
    font-size: 100px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.side1 p{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 630;
}

.btns{
    flex-direction: column;
    margin-top: 20px;
}

.btns button{
    margin: 10px;
}

.padding{
    width: 220px !important;
}

.side2{
    margin-left: 200px;
    flex-direction: column;
}

.image2{
    width: 585px;
    height: 70px;
    background-color: #e7e9eb;
}

.image2 button{
    margin-left: 30px;
}

.Screen3{
    height: 700px;
    width: 100%;
    background-color: #fff4a3;
    padding-bottom: 20px;
}

.Screen4{
    height: 550px;
    width: 100%;
    background-color: #282a35;
    padding-bottom: 20px;
    padding-top: 20px;
}

.Screen4 h1{
    color: white;
    font-size: 60px;
}

.Screen4 p{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.Screen4 p{
    color: white;
}

.img4{
    margin-top: 20px;
    width: 585px;
}

.Screen5{
    background-color: #f3ecea;
    height: 550px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.Screen6{
    background-color: #96D4D4;
    height: 590px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.Screen7{
    background-color: #282a35;
    height: 1400px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.b1{
    background-color: #ffc0c7;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin-right: 30px;
    flex-direction: column;
}

.b2{
    background-color: #fff4a3;
    width: 600px;
    height: 300px;
    border-radius: 6px;
    margin-left: 30px;
    flex-direction: column;
}

.b1 h1{
    font-size: 60px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    margin-top: 30px;
}

.b1 p{
    padding-top: 10px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 630;
}

.b1 button{
    margin-top: 40px;
}

.b2 h1{
    font-size: 60px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    margin-top: 30px;
}

.b2 p{
    padding-top: 10px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 630;
}

.b2 button{
    margin-top: 40px;
}

.wrap2{
    margin: 60px;
}

.clr1{
    background-color: #f3ecea;
}

.clr2{
    background-color: #d9eee1;
}

.clr3{
    background-color: #96d4d4;
}

.clr4{
    background-color: #e7e9eb;
}

.wrap4{
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
}

.wrap4 button{
    margin: 30px;
}

.cBtn{
    background-color: #eab1b8;
    width: 600px;
    height: 150px;
    border-radius: 6px;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #eab1b8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.cBtn:hover{
    cursor: pointer;
}

.cSharpBtn{
    background-color: #eae098;
    width: 600px;
    height: 150px;
    border-radius: 6px;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #eae098;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.cSharpBtn:hover{
    cursor: pointer;
}

.Btn1:hover{
    cursor: pointer;
}

.Screen8{
    background-color: #d9eee1;
    height: 1000px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 70px;
}

.Screen8 h1{
    font-size: 80px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    /* border: 2px solid black; */
}

.Screen8 p{
    padding-top: 10px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 630;
}

.Screen8 img{
    margin-top: 20px;
}

.Screen8 button{
    margin-top: 20px;
}

.padding1{
    width: 325px;
    height: 57px;
    background-color: #04aa6d !important;
    border: 3px solid #04aa6d !important;
    font-size: 21px !important;
}

.Screen{
    background-color: #282a35;
    width: 100%;
    height: 250px;
}

.btnz{
    margin-top: 40px;
    margin-left: 20px;
    height: 100px;
}

.btnz button{
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
}

.bt{
    background-color: white;
    height: 50px;
    width: 100px;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid white;
    transition: 0.5s ease-out;
}

.bt:hover{
    cursor: pointer;
    background-color: #e7e9eb;
    border: 2px solid #e7e9eb;
}

.Screen p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 40px;
    align-content: space-around;
    width: 100%;
}